colorama==0.4.1; python_version <= "3.4"
pycodestyle==2.4.0; python_version < "2.7"
pycodestyle==2.5.0; python_version >= "2.7"
pytest==3.2.5; python_version < "2.7"
pytest==4.6.6; python_version >= "2.7" and python_version < "3.5"
pytest==5.2.2; python_version >= "3.5"
pytest-cov==2.5.1; python_version < "2.7"
pytest-cov==2.8.1; python_version >= "2.7"
pytest-mock==1.6.3; python_version < "2.7"
pytest-mock==1.11.2; python_version >= "2.7"
setuptools==36.8.0; python_version < "2.7"
